.nt-consent {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: lightgray;
    overflow: hidden;
    padding: 15px 15px 5px 15px;
    border-bottom: 1px solid grey;
    display: flex;
    font-size: 0.7em;
    box-shadow: 0 5px 15px 0 gray;
}

.nt-consent--hiding {
    top: -200px;
    transition-duration: 1s;
}

.nt-consent__message {
    align-self: center;
}

.nt-consent__link {
    height: auto;
    align-self: flex-end;
    margin: 10px;
}

.nt-consent__link-label {
    height: 100%;
    vertical-align: bottom;
    white-space: nowrap;
}

.nt-consent__ok-button {
    margin: 5px 30px;
    height: 35px;
    width: 80px;
    padding: 5px;
    border: 2px solid #4ba5e0;
    background: #98bfda;
    flex: none;
    align-self: flex-end;
    cursor: pointer;
    transition: 0.3s;
}

.nt-consent__ok-button:hover {
    background: #cee1f0;
    transition-duration: 0.3s;
}

.nt-consent__ok-button:active {
    border: 2px groove #4399d3;
    background: #98bfda;
    transition: none;
}
