html {
    font-family: "Cambria", monospace;
}

body {
    height: 100%;
    font-size: 1.4em;
}

a,
a:active,
a:visited {
    color: #000;
}

.footnotes {
    margin: 50px 0;
    font-size: large;
}

.language-html {
    color: white;
}

.highlight pre {
    color: white;
    overflow-x: auto;
}

img {
    overflow: hidden;
    height: auto;
    max-width: 90%;
    margin: 15px 0;
}
