.nt-post-content {
    height: 100%;
    width: 70%;
    margin: 5px auto;
}

.nt-post-content p,
.nt-post-content ul {
    text-align: justify;
    text-rendering: optimizeLegibility;
    line-height: 1.4;
    width: 90%;
    margin: 16px 40px;
}
